<h1>Depósitos</h1>
<%= form_with(model: @account) do |form| %>

<% if @account.errors.any? %>

	<% @account.errors.each do |error|%>
		<p><%= error.full_message %></p>
	<% end %>

<% end %>

    <%= form.label :deposit_value, "Insira o valor a ser depositado:" %> 
    <%= form.text_field :deposit_value %> 

    <%= form.submit "Depositar" %>
   
<% end %>


<% content_for :right_pane do %>
	<% render "pane"%>
<% end %>