<h1>Static#deposit</h1>
<%= form_with(model: @account) do |form| %>

<% if @account.errors.any? %>

	<% @account.errors.each do |error|%>
		<p><%= error.full_message %></p>
	<% end %>

<% end %>

    <div>
    	<%= form.label :deposit_value %> </br>
      	<%= form.text_field :deposit_value %>
    </div>
    <% content_for :right_pane do %>
      <%= form.submit %>
   <%end%>
<% end %>

