<h1>Depositos</h1>
<%= form_with(model: @account) do |form| %>

<% if @account.errors.any? %>

	<% @account.errors.each do |error|%>
		<p><%= error.full_message %></p>
	<% end %>

<% end %>

    <div>
    	<%= form.label :deposit_value, "Insira o valor a ser depositado:" %> </br>
      	<%= form.text_field :deposit_value %>
    </div>
      <%= form.submit "Depositar" %>
   
<% end %>

