<h1>Transferência</h1>
<%= form_with(model: @account) do |form| %>

<% if @account.errors.any? %>

	<% @account.errors.each do |error|%>
		<p><%= error.full_message %></p>
	<% end %>

<% end %>

    <div>
    	<%= form.label :transfer_value, "Insira o valor da transferência:" %> </br>
      	<%= form.text_field :transfer_value %>
    </div>
    <div>
    	<%= form.label :dest_account, "Insira conta de destino:" %> </br>
      	<%= form.number_field :dest_account %>
    </div>
    <div>
      <%= form.submit "Transferir" %>
   </div>
<% end %>

<% content_for :right_pane do %>
  <% render "pane"%>
<% end %>