<h1>Transferência</h1>
<%= form_with(model: @account) do |form| %>

<% if @account.errors.any? %>

	<% @account.errors.each do |error|%>
		<p><%= error.full_message %></p>
	<% end %>

<% end %>


    	<%= form.label :transfer_value, "Insira o valor da transferência:" %>
      <%= form.text_field :transfer_value %>

    	<%= form.label :dest_account, "Insira conta de destino:" %> 
      <%= form.number_field :dest_account %>

      <%= form.submit "Transferir" %>

<% end %>

<% content_for :right_pane do %>
  <% render "pane"%>
<% end %>