<!DOCTYPE html>
<html>
  <head>
    <title>Caixa de auto-atendimento</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="main-cont">
      
      <div class="header">
        <%= button_to "Home",root_path, method: :get %>
        <h1>Caixa de Atendimento</h1>
        <% if logged_in?%>
          <%= button_to "Sair",logout_path, method: :post %>
        <% end %>
      </div>

      <p><%= notice %></p>
    
    <div class="main-console">
      <div class="left-pane">
        <%= yield %>
      </div>
      <div class="right-pane">
        <%= yield :right_pane%>
      </div>
    </div>

    </div>
  </body>
</html>
