<div class="account-info">
	<div class="account-status">
		<h1>Conta #<%= @account.id %></h1>
		<p><%= @account.active ? "ATIVA" : "INATIVA"%></p>
	</div>
	
	<p class="saldo">
		Saldo atual: </br>
		R$ <%= @account.balance %>
	</p>
	
	<h1>Extrato</h1>

	<div class="statement">

		<div class="statement-header">
			<p>Data</p>
			<p>Tipo</p>
			<p>Valor</p>
		</div>
		<% @account.transactions.each do |transaction|%>
			<div class="statement-line">
				<p><%= transaction.transaction_date %></p>
				<p><%= transaction.kind %></p>
				<p><%= transaction.value %></p>
			</div>
		<% end %>

	</div>	
</div>

<% content_for :right_pane do %>
	<% if @account.active %>
		<%= link_to "Depositar", static_deposit_path(:account => @account) %>  
		<%= link_to "Sacar", static_withdraw_path(:account => @account) %> 
		<%= link_to "Transferir", static_transfer_path(:account => @account) %>
		<%= button_to "Desativar conta", @account, method: :delete %>
	<% else %>
		<p> CONTA INATIVADA </p>		
	<% end %>	
<% end %>