<h1>Conta #<%= @account.id %></h1>
<p>Saldo atual: R$ <%= @account.balance %></p>
<p>Ativa? <%= @account.active %></p>


<table>

	<tr>
		<th>Data</th>
		<th>Valor</th>
		<th>Tipo</th>
	</tr>
<% @account.transactions.each do |transaction|%>
	<tr>
		<th><%= transaction.transaction_date %></th>
		<th><%= transaction.value %></th>
		<th><%= transaction.kind %></th>
		
	</tr>
<% end %>

</table>	

<% content_for :right_pane do %>
	<% if @account.active %>
		<%= link_to "Depositar", static_deposit_path(:account => @account) %>  
		<%= link_to "Sacar", static_withdraw_path(:account => @account) %> 
		<%= link_to "Transferir", static_transfer_path(:account => @account) %>
	<% end %>	
<% end %>