<h1>Account #<%= @account.id %></h1>
<p>Saldo atual: R$ <%= @account.balance %></p>
<p>Ativa? <%= @account.active %></p>

<% if @account.errors.any? %>

	<% @account.errors.each do |error|%>
		<p><%= error.full_message %></p>
	<% end %>

<% end %>

	
<table>

	<tr>
		<th>Data</th>
		<th>Valor</th>
		<th>Tipo</th>
	</tr>
<% @account.transactions.each do |transaction|%>
	<tr>
		<th><%= transaction.created_at %></th>
		<th><%= transaction.value %></th>
		<th><%= transaction.kind %></th>
		
	</tr>
<% end %>

</table>	

<%= link_to "Sacar", edit_account_path(@account) %>